<ion-view view-title="My MovieFinder" align-title="left" hide-nav-bar="true">
    <ion-content style="background: url(img/landing.jpg) center; background-size: cover;">
        <br>
        <div class="hero no-header flat">
            <div class="content">
                <div class="app-icon"></div>
                <h1 class="app-title">My MovieFinder</h1>
            </div>
        </div>
        <div style="width:80%;margin:auto;">
          <div class="button-bar">
              <button ui-sref="app.searchmovie" class="button button-small button-border button-assertive-900">Start Searching!</button>
          </div>
        </div>
    </ion-content>
</ion-view>
